
#Created by Constraints Editor (xc3s1000-ft256-4) - 2011/05/26
NET "BUS_PHI2" TNM_NET = BUS_PHI2;
TIMESPEC TS_BUS_PHI2 = PERIOD "BUS_PHI2" 20 ns HIGH 50%;
#NET "NRESET" OFFSET = IN 20 ns VALID 20 ns BEFORE "BUS_PHI2" RISING;
