
div#content table {
        font-size: 100%;
        width:auto;
        border-collapse: collapse;
        border-style: solid;
        border-width: 1px;
}


div#content th {
        background-color: #dddddd;
        border-style: solid;
        border-width: 1px;
}

div#content td {
        border-style: solid;
        border-width: 1px;
}


table.bittable {
	border: 1px solid;
	background-color: #000000;
	margin: 0;
	padding: 0.1em;
}

table.bittable th {
	width: 12%;
}

table.bittable td {
	background-color: #ffffff;
}

table.optable {
	border: 1px solid;
	background-color: #000000;
	margin: 0;
	padding: 0.1em;
}

table.optable th {
	margin: 0;
	padding: 0.2em;
	background-color: #aaaaaa;
}

table.optable td {
	font-size: smaller;
	margin: 0;
	padding: 0.2em;
	background-color: #ffffff;
	vertical-align: top;
}

table.optable td div.prefixes {
	font-size: smaller;
	vertical-align: bottom;
	font-style: italic;
}

table.optable td div.opc {
	vertical-align: top;
}

table.optable td.prefix {
	background-color: #aaffaa;
}

table.optable td.cmos {
	background-color: #ffaaaa;
}

table.optable td.c65k {
	background-color: #aaaaff;
}

table.optable td.c65k10 {
	background-color: #aaaaaa;
}

table.optable td.unused {
	background-color: #aaaaaa;
}

table.optable td.dup {
	background-color: #aaffaa;
}

table.optable td.x {
	background-color: #ffaaaa;
}

